.padreDados {
	background-color: #f4f4f4;
}
.caraDado {
	width: 200px;
	height: 200px;
	padding: 10px;
}
.punto {
	width: 30px;
	height: 30px;
	background-color: #fff;
	border-radius: 50%;
}
.caraPropia {
	display: flex;
}
